## Задание 2.

На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе.

### 2.1

In [1]:
def sum_fruits(**kwargs):
    return sum(kwargs.values())

print(f'Всего фруктов на складе: {sum_fruits(Груши=5, Мандарины=7, Яблоки=3, Апельсины=4, Ананасы=1)}')

Всего фруктов на складе: 20

### Задание 3.

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты [100, 125, -90, 345, 655, -1, 0, 200]. 
Используйте list comprehensions

### 3.1

In [2]:
data_list = [100, 125, -90, 345, 655, -1, 0, 200]
result_list = [i for i in data_list if i>=0]
print(f'Скорректированный список: {result_list}')
print(f'Сумма затрат на рекламу: {sum(result_list)}')

Скорректированный список: [100, 125, 345, 655, 0, 200]
Сумма затрат на рекламу: 1425

## Задание 4.

Даны два списка.
Дата покупки 
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам 
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре. 
Используйте list comprehensions

In [3]:
date_purchases = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
price_purchases = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

november_purchases = [price_purchases[i] for i in range(len(date_purchases)) if (date_purchases[i][5]=='1' and date_purchases[i][6]=='1')]
print(f'Выручка в ноябре: {sum(november_purchases)}')

Выручка в ноябре: 25098

### 4.2 Найдите выручку компании в зависимости от месяца. 
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [4]:
import datetime

def itog(data_value:list, price_value:list) -> dict:
    incom_by_month = {}
    for i in range(len(data_value)):
        month = data_value[i].split('-')[1]
        if month in incom_by_month.keys():
            incom_by_month[month] += price_value[i]
        else:
            incom_by_month[month] = price_value[i]
    return incom_by_month
              
itog (date_purchases,price_purchases)
print("Выручка компании в зависимости от месяца:", itog (date_purchases,price_purchases))

Выручка компании в зависимости от месяца: {'09': 25647, '12': 45452, '10': 28645, '11': 25098}

## Задание 5.

### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом.

In [5]:
from IPython.display import Image 
display(Image(url='https://cameralabs.org/media/camera/oktiabr/28/57_674dd4554abd7ba22592578720c32d15.jpg', width = 400))

### 5.2 Создайте следующую таблицу в ячейке с текстом (см. презентацию)

   	                До события	    Во время события
1 контрольная точка	250	            500
2 контрольная точка	350	            700
3 контрольная точка	400	            800
Итого за победу	    1000	        2000

|  <!-- -->           |До события | Во время события |
|---------------------|------------|------------------|
| 1 контрольная точка |     250    |        500       |
| 2 контрольная точка |     350    |        700       |
| 3 контрольная точка |     400    |        800       |
|Итого за победу      |    1000    |       2000       |